
@font-face {
  font-family: "LGC light";
  src: url("../assets/louis-george-cafe-light.ttf");
} 

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Sans Serif", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 7%;
}
nav {
  display: flex;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 24px;
  justify-content: space-between;
  background-color: #F07B3E;
  /* rgb(228, 130, 11); */
  box-shadow:  5px 0px 5px grey;
  color: whitesmoke; 
}

p {
  word-spacing: 2px;
  line-height: 28px;
  /* color: grey; */
}

.dropdownItem{
  font-size: 14px;
  font-weight: 200;
  position: relative;
  transition: all 0.2s;
  color: white;
  z-index: 1;
}
nav.nav{
  z-index: 10;
  height: 60px;
}

/* dropdwon */
.wide{
  display: none;
}
/* Style The Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 8px 16px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  border-radius: 10px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-bottom: 5px solid rgb(228, 130, 11);
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 10px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  color:  #f0972b;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: orange;
}

.displayNone{
  display: none;
}

.ddItem{
  border-radius: 10px !important;
  line-height: 18px;
}

/* hamburger bar button*/
.nav__menu-bar {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  cursor: pointer;
  position: relative;
  top: 20%;
  max-height: 24px;
}


.nav__menu-bar div {
  width: 40px;
  height: 4px;
  background-color: white;
  border-radius: 1px;
 
}
.nav__menu-list {
  z-index: 2;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 60px;
  width: 288px;
  row-gap: 24px;
  right: -288px;
  padding: 12px 16px;
  transition: all 0.2s;
  min-height: calc(100vh - 60px);
  background-color:#F07b3e;
}
.nav__menu-list.active {
  right: 0;
}
.nav__link {
  font-size: 20px;
  font-weight: bold;
  position: relative;
  transition: all 0.2s;
  color: white;
  
}


.logoLink{
  cursor: pointer;
  margin: auto;

}



@media screen and (min-width: 900px) {
  .dropdown{
    display: inline !important;
  }
  
  nav {
    padding: 0px 20px;
  }
  .logo{
    position: relative;
    left: 0%;
    top: 18%;
    margin-left: 10px;
  }
  .indented {
    margin: auto;
    width: 1000px;
  }
  .header3 {
    margin: auto;
    width: 1000px;
  }
 
  .nav__menu-bar {
    display: none;
  }
  .nav__menu-list {
    position: unset;
    flex-direction: row;
    min-height: fit-content;
    width: 100%;
    column-gap: 30px;
    align-items: flex-start;
    justify-content: space-around;
  }
}

/* members page */
.memberImg{
  width: 400px;
  height: 400px;
}
.memberName{
  padding-top: 50px;
}
.leaderPositions{
  color: white;
  background-color: #4AA198;
  padding: 10px;
  width: fit-content;
  border-radius: 5px;
}
.memberPositions{
  color: white;
  background-color: #FBBB0B;
  padding: 10px;
  width: fit-content;
  border-radius: 5px;
}
.advisorPositions{
  color: white;
  background-color:#DB7952;
  padding: 10px;
  width: fit-content;
  border-radius: 5px;
}
.memberText{
  width: 600px;
  height: 220px;
  overflow-y: scroll;
}
.membersHeading{
  text-align: center;
  padding-top: 40px;
  padding-bottom: 60px;
  font-size: 46px;
}

@media screen and (max-width: 1100px){
  .memberName{
    width: 400px;
  }
  .memberText{
    width: 400px;
    height: 180px;
  }
  .memberPositions{
    max-width: 400px;
  }
  .leaderPositions{
    max-width: 400px;
  }
  .advisorPositions{
    max-width: 400px;
  }
}
@media screen and (max-width: 900px){
  .membersWide{
    display: none;
  }
  .memberImg{
    width: 250px;
    height: 250px;
    align-self: center;
  }
  .membersNarrow{
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
  }
  .advisorPositions{
    text-align: center;
    align-self: center;
  }

  
  
}
@media screen and (min-width: 901px){
  .membersNarrow{
    display: none;
    justify-items: center;
  }
}


/* page set ups */

.sidePadded50{
  padding-left: 50px;
  padding-right: 50px;
}

.leftRow{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.rightRow{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.leftCol{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.rightCol{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: right;
}
.column{
  display: flex;
  flex-direction: column;
}
.row{
  display: flex;
  flex-direction: row;
}
.yBox60{
  height: 60px;
}
.yBox100{
  height: 100px;
}

/* dropdwon */
.wide{
  display: none;
}
/* Style The Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 8px 10px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  border-radius: 10px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-bottom: 5px solid rgb(228, 130, 11);
}


@media screen and (max-width: 899px) {
  .dropdown{
    width: 100%;
  }
  .dropdown-content a:hover {
    background-color: transparent
  }

  .dropdown-content{
    width: 100%;
    position: relative;
    display: block;
    border-bottom: 0px solid rgb(228, 130, 11);
  }
  .nav__menu-list{
    height: 80%;
    overflow-y: scroll;
  }

  .dropbtn{
    cursor: pointer;
    width: 100%;
    text-align: left;
  }
  .button{
    width: 100%;
  }
  .nav__link{
    width: 100%;
    text-align: left;
  }
  
}


/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: orange;
}

.displayNone{
  display: none;
}




.sidebar p:hover {
  
  font-size: 25px;
  color: white;
  padding: 10px;
  background-color: #f37b3e;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  margin-top: 0px;
  margin-left: 25px;
  cursor: pointer; 
  font-weight: bold; 
}

 

 *{
  scroll-margin-top: 80px; /* whatever is a nice number that gets you past the header */
}

/* contentsBar */
.contentsBar{
  height: inherit;
  width: 300px;
  padding-left: 20px;
  padding-top: 200px;
  background-color:#FDC550;

  /* box-shadow: 5px 1px 0px rgba(1,1,1,0.2); */
}
@media  screen and (max-width: 700px) {
  .indent{
    margin-left: 20px;
  }
  .contentsBar{
    display: none;
  }  
  .text{
    padding-left: 18px !important;
    padding-right: 18px !important;
  }
}
.contentsButton{
  background: transparent;
  border: 0;
  font-size: 20px;
  text-align: left;
  padding-left: 20px;
  margin-bottom: 20px;
  width: 260px;
}
.contentsButton:hover{
  background-color: #f37b3e;
  color: white;
  font-weight: bold;
  padding: 6px;
}
.contentsBarButtons{
  position: sticky;
  top:200px;
  z-index: 0
}
.text{
  max-width: 760px;
  margin: auto;
  padding-left: 40px;
  padding-right: 40px;
}
.medalBox{
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  margin-top: 100px;
  padding: 40px;
  border-radius: 40px;
  background-color: #f0972b;
}

.text p{
  width: 100%;
 

  text-align: justify;
}

.text.indent p{
  width: calc(100%-60px);
  word-wrap: break-word;
}



.text h1{
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: left;
}
.text h2,h3{
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: left;
}

.text h5{
  font-weight: lighter;
  text-align: center;
  margin-bottom: 40px;
}

.attForm{
  justify-content: center;
  margin-left: 4%;
  width: 92%;
  border: 0;
  height: 1800vh;
}
.ellipse{
  z-index: -1;
  background: linear-gradient(to right, #FDC550, #f37b3e);
  width: 100%;
  height: 30vh;

}

.indent{
  margin-left: 60px;
  max-width: 700px;
}

.figure{
  width: 100%;
  margin-top: 40px;
  margin-bottom: 10px;

}

.figureTooBig{
  width: 60%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20%;

}

.references li{
  color: grey;
  margin-bottom: 15px;
  margin-left: 20px;
  word-wrap: break-word;
}

.pdf{
  width: 760px;
  height: 1000px;
}


.footer{
  background: linear-gradient(to right, #FDC550, #f37b3e);
  width: 100%;
  height: 200px;
  padding: 20px;
  align-items: baseline;
}

.sponsors{
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 100px;

}

section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}


.pls1 {
  background-image: url("https://static.igem.wiki/teams/4629/wiki/igemhomepagefinal.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  
  text-shadow: 0px 0px 5px rgba(0,0,0,0.7);
}


.video-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100vh;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100vh; /* Adjust as needed */
  overflow: hidden;
  margin-bottom: 20px; /* Equivalent to bottom-20 in Tailwind CSS */
}
.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.text-container {
  text-align: center;
  color: white;
  padding: 20px;
}

.text-white {
  color: white;
}

.text-4xl {
  font-size: 4rem;
}

.text-3xl {
  font-size: 1.875rem;
}

.text-lg {
  font-size: 1.125rem;
}
