/* Custom CSS for the MastHead component */
.masthead {
  position: relative;
}

.video-bg {
  object-fit: cover;
  width: 100%;
  min-height: 100vh;
}

.text-container {
  bottom: 20px;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.4);
}

.text-heading {
  color: #fff;
  font-size: 4rem;
}

.text-subheading {
  color: #fff;
  font-size: 3rem;
}

.text-description {
  color: #fff;
  font-size: 1.5rem;
}
